<header id="js-header">
	<div class="container">
		<div class="header-navbar row no-gutters" id="js-nav">
			<div class="header-logo col"><a class="logo-navbar" href="index.html">Техномарт</a></div>
			<div class="nav-main col">
				<nav class="nav">
					<ul>
						<li><a  class="active" href="index.html">Студия</a></li>
						<li><a href="#">Клиенты</a></li>
						<li><a href="catalog.html">Магазин</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<ul class="header-links col">
				<li ><a href=""><i class=" icon-bookmark"></i>Закладки: 0</a></li>
				<li class="basket basket_active"><a href=""><i class=" icon-basket"></i>Корзина: 0</a></li>
			</ul>
			<div class="navbar-order col"><a href="" class="order-btn">Оформить заказ</a></div>
		</div>
	</div>
</header>