<header id="js-header">
	<div class="container-fluid">
		<div class="header-navbar row no-gutters" id="js-nav">
			<div class="header-logo col"><a class="logo-navbar" href="index.html">Техномарт</a></div>
			<div class="search col">
				<form>
					<input type="text" value="Поиск" class="search-input">
					<i class=" icon-search"></i>
				</form>
			</div>
			<ul class="header-links col">
				<li ><a href=""><i class=" icon-bookmark"></i>Закладки: 0</a></li>
				<li class="basket basket_active"><a href=""><i class=" icon-basket"></i>Корзина: 0</a></li>
			</ul>
			<div class="navbar-order col"><a href="" class="order-btn">Оформить заказ</a></div>
		</div>
	</div>
</header>