/* NAV-SIMPLE*/
.nav-main{
  background-color: #31415b;
}
.nav{
  ul{
    @include list-clear;
    display: flex;
    li{
      padding: 0 5px;
    }
    li:first-child{
      padding-left: 0;
    }
    li:last-child{
      padding-right: 0;
    }
    a{
      color:#fff;
      font-family: "Cuprum";
      font-size: 17px;
      @include navlink;
    }
  }
}


